@mixin section_head {
    font-size: 28px;
    line-height: 26px;
    font-weight: normal;
    
}

@mixin pera_style {
    font-size: 15px;
    line-height: 26px;
    font-weight: lighter;
}